BOT_TOKEN=

ADMIN_EMAIL=sizning_emailingiz@gmail.com
ADMIN_PASSWORD=oz_kuchli_parolingiz
SESSION_SECRET=tasodifiy_uzun_maxfiy_matn

ADMIN_CHAT_ID=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=https://sizning-domeningiz.onrender.com/auth/google/callback
